.header-container {
  background-color: var(--header-primary-color);
  color: var(--primary-color);
  width: 100%;
  height: 4em;
}

.flex-box-vert-align {
  display: flex;
  justify-content: space-between;
  align-items: space;
  height: 100%;
  width: 100%;
}

.overflow-y {
  overflow-x: auto;
  overflow-y: hidden;
}

.header-logo {
  font-weight: bold;
  font-size: 1.5em;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 40px;
  max-width: 30%;
}

.header-button {
  font-size: 1.1em;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  text-decoration: none;
  color: var(--primary-color);
  transition: 200ms;
}

.header-button:hover {
  color: var(--vivid-color);
  text-decoration: none;
}

.header-button-selected {
  color: var(--vivid-color);
  box-shadow: inset 0px -6px var(--vivid-color);
}

.header-button-clicked {
  border-bottom: 3px;
  border-color: var(--primary-color);
}
