html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --header-primary-color: rgb(0, 94, 184);
  --header-secondary-color: white;
  --primary-color: white;
  --vivid-color: rgb(160, 223, 231);
  --text-color: black;
  --secondary-background-color: aliceblue;
}

body {
  font-family: "Spartan";
  background-color: var(--secondary-background-color);
  margin: 0;
}

/* Scroolbar tricks */

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
  /* overflow: hidden; */
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  overflow: auto;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
