old stuff/README_orig.md
.idea

/client/node_modules
/client/package-lock.json
/client/build

/flaskenv
.env
old.docker-compose.yml
.env/

**.pyc
__pycache__
nhs_app/forms/__pycache__/
nhs_app/resource/__pycache__/
nhs_app/database/__pycache__/
nhs_app/api/__pycache__/
nhs_app/machine_learning/__pycache__/
nhs_app/file_system/__pycache__/



