/* html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
} */

:root {
  --header-primary-color: rgb(0, 94, 184);
  --header-secondary-color: white;
  --primary-color: white;
  --vivid-color: rgb(160, 223, 231);
  --text-color: black;
  --secondary-background-color: aliceblue;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "Spartan";
  background-color: var(--secondary-background-color);
  display: flex;
}

#root {
  width: 100%;
}

.container-for-content-and-footer {
  min-height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .app {
  background-color: var(--secondary-background-color);
} */

.footer {
  color: gray;
}
