{% extends 'base.html' %}

{% block app_content %}
    <h3>Example of standard data format for the server updates</h3>
        <div class="box box-default">
        <code>
            <pre>{
	"supportCode": "Therapist",
	"wellBeingScore": "10",
	"weeklySteps": 7777,
	"weeklyCalls": 222,
	"errorRate": 69,
	"postCode": "LL25"
}</pre>
        </code>
    </div>
    <h3>List of endpoints, that can be used by the mobile applications</h3>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row" style="background: limegreen;"></th>
                <th> Active </th>
                <th scope="row" style="background: red;"></th>
                <th> WiP </th>
                <th scope="row" style="background: orange;"></th>
                <th> Active, improvable </th>
            </tr>
        </tbody>

    </table>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Methods</th>
                <th scope="col">URL</th>
                <th scope="col">Body</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for element in mobile %}
             <tr>
                 {% if element.status == 'ready' %}
                <th scope="row" style="background: limegreen;">{{ loop.index}} </th>
                 {% elif element.status == 'wip' %}
                 <th scope="row" style="background: red;">{{ loop.index }}</th>
                 {% else %}
                 <th scope="row" style="background: orange;">{{ loop.index }}</th>
                 {% endif %}
                <td>{{ element.method }}</td>
                <td>{{ element.url }}</td>
                <td>{{ element.body }}</td>
                <td>{{ element.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}