{% extends "base.html" %}

{% block app_content %}
    {% if national %}
        {% if code == 200 %}
            <h1>National model is ready for downloading.</h1>
        {% else %}
            <h1>National model is not ready for downloading.</h1>
        {% endif %}
    {% else %}
        {% if code == 200 %}
            <h1>{{ area }} model is ready for downloading.</h1>
        {% else %}
            <h1>{{ area }} model is not ready for downloading.</h1>
        {% endif %}
    {% endif %}
    <p><a href="{{ url_for('index') }}">Back</a></p>
{% endblock %}
