<?xml version="1.0" encoding="utf-8"?>

<manifest package="uclsse.comp0102.nhsxapp.api"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:overrideLibrary="uclsse.comp0102.nhsxapp.api">

    <!--TODO: REMOVE APPLICATION SECTION WHEN RELEASE-->
    <application android:usesCleartextTraffic="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
